body{
    margin: 0; padding: 0;
    height: 100%;
    width: 100%;
	min-width: 600px;
    overflow: hidden;
    position: relative;
    font-family: Roboto, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    text-transform: capitalize;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 25px 50px;
    text-decoration: none;
    transition: color .3s ease;
}

nav ul li a:hover {
    color: blue;
}

p {
	letter-spacing: .1px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.active {
    color: blue;
}

.sidebar {
    width: 300px;
    padding: 20px 50px;
    background-color: white;
    position: absolute;
    transition-timing-function: ease-out;
}

.about {
    left: -402px;
    border-right: 1px solid blue;
    z-index:9999;
}

.dev {
    right: -402px;
    border-left: 1px solid blue;
    z-index:9999;
}

#logo {
    position:absolute;
    height: 40px;
    left: 50%;
    margin-left: -91px;
    margin-top: 17px;
}

.main-container {
	overflow:auto;
	height: calc(100vh - 73px);
}

::-webkit-scrollbar { 
    display: none; 
}

.main {
    max-width: 1000px;
    padding: 0 25px;
    padding-top: 20px;
    margin: 0 auto;
	overflow: hidden;
}

#title {
    margin-bottom:3px;
}

textarea{
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid lightgrey;
    transition: border .4s ease;
    padding: 5px;
}

textarea:focus {
    border:1px solid blue;
}

.line {
    border-top: 1px solid lightgrey;
    margin-top: 10px;
}

button {
    font-family: Roboto, sans-serif;
    background-color: white;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline:none;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px 0px;
    transition: all .4s ease;
    margin-border: 1px solid;
}

button:hover{
    border: 1px solid blue;
    color:blue;
}

button:active{
    color: white;
    background-color: blue;
    border: 1px solid blue;
}

.one-container, .two-container, .three-container {
    width: 32%;
    float:left;
    margin-bottom: 20px;
}

.img-container p{
    text-align: center;
    margin: 10px 0px;
}

.img-output{
    border:1px solid lightgrey;
    padding-top: 3px;
    text-align: center;
    opacity:0;
}

.two-container {
    margin: 0 2%;
}

.o-item{
    margin: 3px;
    background-color:lightgrey;
	height:150px;
	width: 150px;
    display: inline-block;
	overflow: hidden;
    position:relative;
}

.o-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:none;
    pointer-events: none;
}

.o-item:hover:before{
    background: rgba(0,0,255, 0.3);
    transition: all .5s ease;
}

/*.o-item:hover{
    transition: all .5s ease;
    filter: brightness(50%);
}*/

.tools img {
    height: 30px;
    margin: 2px 0px;
}

.tools .fl {
    height: 40px;
}
.tools .wh {
    height: 25px;
}

.tools {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar article {
    border-bottom: 1px solid lightgrey;
}

.sidebar article:last-child {
    border: none;
}

.members {
    margin:0;
    padding-left:20px;
}

.members li {
    padding:4px 0px;
    margin:0;
}

.members li:nth-child(even){
    list-style-type: none;
    font-weight: bold;
    font-size: 12px;
    color:blue;
    text-transform:uppercase;
}

.members li:first-child{
    padding-top:0;
}

.members li:last-child{
    padding-bottom:0;
}

article p a .gh {
    height: 35px;
}

.stub {
	padding: 10px 0px 30px 0px;
	font-size: 12px;
	letter-spacing: .5px;
	font-style: italic;
	text-align:center;
}

.fillwidth { 
  width: 100%; 
  height: auto; 
}

.fillheight { 
  height: 100%; 
  width: auto; 
}